*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #F3F6F4;
  background-image: url(../../img/background_1.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  color: #7887AB;
}
@media screen and (max-width: 1200px) {
  body {
    background-size: cover;
  }
}

@font-face {
  font-family: "Greatvibes";
  src: url("/font/Great_Vibes/GreatVibes-Regular.ttf");
}
@font-face {
  font-family: "Garamond";
  src: url("/font/EB_Garamond/EBGaramond-VariableFont_wght.ttf");
}
body {
  font-family: "Garamond", sans-serif;
}

h1 {
  font-family: "Garamond", sans-serif;
  font-weight: bold;
}

.contenu h1 {
  font-size: 50px;
  color: white;
}

#experiences h3 {
  margin: 1% 1%;
}
#experiences h4 {
  font-style: italic;
  font-size: smaller;
  margin: 0 0 1% 0;
}

/*menu gauche*/
.menu {
  display: block;
  background-color: #003133;
  width: 250px;
  height: 100vh;
  min-height: 800px;
  position: fixed;
  box-shadow: 2px 0px 5px #003133;
  z-index: 5;
}
@media screen and (max-width: 1200px) {
  .menu {
    display: none;
  }
}

.blocs-menu {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blocs-menu:nth-child(1) {
  width: 100%;
  height: 25%;
}
.blocs-menu:nth-child(1) .photoId img {
  margin: 20px 0;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: relative;
  box-shadow: 20px 20px 50px black;
}

.blocs-menu span {
  text-align: center;
  position: relative;
  font-weight: 600;
  cursor: pointer;
  padding: 10%;
  margin-top: 3%;
}
@media screen and (max-width: 1200px) {
  .blocs-menu span {
    padding: 0%;
    margin-top: 0%;
  }
}
.blocs-menu span::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: 50% 50%;
  width: 50%;
  height: 2px;
  border-radius: 2px;
  background-color: #7887AB;
  transition: transform 250ms;
}
.blocs-menu span:hover::after {
  transform: translateX(-50%) scaleX(1);
}
.blocs-menu span a {
  text-decoration: none;
  color: #7887AB;
  font-size: 30px;
}

/*photo id responsive*/
.photoId--responsive {
  display: none;
}

/*menu responsive*/
.responsive__menu {
  display: none;
}

/*responsive fixe*/
.top-responsive {
  display: none;
}

@media screen and (max-width: 1200px) {
  .top-responsive {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 99;
    background-color: #003133;
  }

  .entete-menu-responsive {
    height: auto;
    padding-left: 5%;
  }
  .entete-menu-responsive h1 {
    margin: 15% 0 15% 5%;
    font-size: 5em;
    color: #67989A;
  }

  .photoId--responsive {
    display: flex;
    justify-content: center;
    padding: 1% 0 1% 0;
  }
  .photoId--responsive img {
    border-radius: 50%;
    box-shadow: 20px 20px 100px black;
  }

  .responsive__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .responsive__menu li {
    list-style: none;
  }
  .responsive__menu a {
    display: block;
    min-width: 120px;
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    color: #061539;
    font-size: larger;
    background-color: #67989A;
    border: 1px solid #061539;
    border-radius: 6px;
  }
  .responsive__menu a:hover {
    background-color: #061539;
    color: #67989A;
  }
}
@media screen and (max-width: 992px) {
  .entete-menu-responsive h1 {
    margin: 10% 5% 10% 5%;
    font-size: 3em;
  }
}
/*entete*/
header {
  background-color: #003133;
  box-shadow: 0px 1px 5px #003133;
  border-radius: 0 0 50% 30%;
  width: calc(100% - 250px);
  max-height: 500px;
  position: relative;
  margin-left: auto;
  padding: 3% 5% 10% 2%;
  color: #67989A;
}
header .entete h1 {
  width: 100%;
  font-size: 6em;
  margin-bottom: 5%;
}
header #resume {
  padding-left: 2%;
}

@media screen and (max-width: 1200px) {
  header {
    width: 100%;
    margin: 0;
    padding: 2;
    border-radius: 0 0 50% 0;
    max-height: 600px;
  }

  .entete h1 {
    display: none;
  }

  #resume, #adress, #entete h1 {
    padding-left: 5%;
  }

  #adress img {
    max-width: 10%;
    max-height: 10%;
  }
}
/*footer*/
footer {
  width: calc(100% - 250px);
  min-height: 100px;
  background-color: #003133;
  position: relative;
  margin-left: auto;
  border-radius: 0 100% 0 0;
  box-shadow: 2px 0px 5px #003133;
}
footer p {
  padding: 2% 0 0 2%;
  margin: 0;
  color: #67989A;
  font-style: italic;
}
@media screen and (max-width: 1200px) {
  footer {
    width: 100%;
    margin: 0;
    padding: 10% 5% 0 5%;
  }
}

/*scroll up*/
#scroll_to_top {
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 30px;
}

/*contenu*/
.contenu {
  width: calc(100% - 250px);
  position: relative;
  margin-left: auto;
  padding: 3% 0 10% 0;
}
.contenu p {
  margin: 3% 0 5% 5%;
}
.contenu #presentation {
  border: 1px solid #67989A;
  border-radius: 0 15% 15% 15%;
  box-shadow: 0px 1px 5px #67989A;
  background-color: #67989A;
  color: #061539;
  padding: 5% 0 0 0;
  margin: 0 0 2% 0;
}
.contenu #presentation .quote {
  border: 1px solid white;
  padding: 1%;
  display: block;
  font-style: italic;
}
.contenu #training {
  border: 1px solid #7887AB;
  border-radius: 0 10% 80% 15%;
  box-shadow: 0px 1px 5px #7887AB;
  background-color: #7887AB;
  color: #061539;
  padding: 5% 0 0 0;
  margin: 0 0 2% 0;
}
.contenu #skills h1 {
  color: #67989A;
}
.contenu #experiences {
  margin: 5% 0 10% 0;
  border-radius: 100%;
  background-color: #003133;
  box-shadow: 2px 0px 5px #003133;
  text-align: center;
  padding: 2% 0 5% 0;
}
.contenu #experiences p {
  margin: 0;
}
.contenu #hobbies {
  background-color: #417E80;
  box-shadow: 2px 0px 5px #417E80;
  color: #061539;
  padding-bottom: 2%;
}
.contenu #hobbies img {
  padding: 3%;
  margin-left: auto;
  margin-right: auto;
}
.contenu #contact {
  border: 2px solid #003133;
  margin: 2% 25% 0 25%;
}
.contenu #contact h1 {
  color: #003133;
}
.contenu #contact form button {
  display: block;
  padding: 5%;
  margin: auto;
  border: 1px solid #003133;
  border-radius: 100rem;
  background: transparent;
  font-size: 20px;
}
.contenu #contact a img {
  display: block;
  margin: auto;
  padding: 2%;
}
@media screen and (max-width: 1200px) {
  .contenu {
    width: 100%;
    margin: 0;
    position: relative;
  }
  .contenu p {
    margin-left: 1%;
    font-size: 1rem;
  }
  .contenu #presentation {
    border-radius: 0;
  }
  .contenu #presentation .quote {
    padding: 5%;
  }
  .contenu #training {
    border-radius: 5% 5% 5% 5%;
  }
  .contenu #experiences {
    border-radius: 20% 0 20% 0;
  }
  .contenu #hobbies img {
    margin-left: 10%;
  }
  .contenu #contact {
    margin: 5% 10% 5% 10%;
  }
  .contenu #contact h1 {
    font-size: 30px;
  }
}/*# sourceMappingURL=style.css.map */