@import "./utils/variables";

@import "./base/base";
@import "./base/typography";

@import "./layouts/menu";
@import "./layouts/header";
@import "./layouts/footer";
@import "./layouts/scroll-up";

@import "./pages/principal";




/*Responsive*/
@media screen and (max-width: map-get($breakpoints, xl)) {

    body {
        background-size: cover;
    }


    /*Contenu*/
    .contenu {
        width: 100%;
        margin: 0;
        position: relative;
        p {
            margin-left: 1%;       
            font-size: 1rem;
        }       
    
        #presentation {
            border-radius: 0 ;
            .quote {
                padding: 5%;
            }
        }
        #training {
            border-radius: 5% 5% 5% 5%;
        }
        #experiences {
            border-radius: 20% 0 20% 0;
        }
        #hobbies img{
            margin-left: 10%;
        }
        #contact {
            margin: 5% 10% 5% 10%;
            h1 {
                font-size: 30px;
            }
        }
    }
    /*Footer*/
    footer {
        width: 100%;
        margin: 0;
        padding: 10% 5% 0 5%;
    }
}