/* Règles CSS */


.nav-gauche {
    background-color: #061539;
    width: 300px;
    height: 100vh;
    min-height: 800px;
    position: fixed;
    box-shadow: 2px 0px 5px #061539;
    z-index: 5;
    transition: all 0.3s 0.1s ease-in-out;
}
nav {
    display: block;
}
.blocs-menu {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.blocs-menu:nth-child(1) {
    width: 100%;
    height: 25%;
}
.blocs-menu:nth-child(1) .photoId img {
    margin: 20px 0;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: relative;
    box-shadow: 20px 20px 50px black;
}
.blocs-menu span {
    font-size: 20px;
    text-align: center;
    position: relative;
    font-weight: 600;
    cursor: pointer;
    padding: 10%;
}
.blocs-menu span::after {
    content: "";
    display: block;
    margin: 5px auto 0 auto;
    height: 2px;
    border-radius: 2px;
    background-color: #7887AB;
    transition: all 0.2s ease-out;
}
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.blocs-menu span a {
    text-decoration: none;
    color: #7887AB;
}
.item-menu {
    margin-top: 3%;
}
body {
    background-color: #67989A;
    color: white;
}
header {
    z-index: 1;
    background-image: url(/img/pc_en-tete.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    /* opacity: 0.5; */
    /* background-color: #003133; */
    width: calc(100% - 300px);
    max-height: 600px;
    position: relative;
    margin-left: auto;
    box-shadow: 2px 0px 5px #003133;
    padding: 3% 5% 10% 2% ;
    color: #FFE3AA;
}
#entete h1{
    font-size: 6em;
    margin-bottom: 10%;
}
#resume {
    padding-left: 15%;
}


