
/*contenu*/
.contenu {
    width: calc(100% - 250px);
    position: relative;
    margin-left: auto;
    padding: 3% 0 10% 0;
    p {
        margin: 3% 0 5% 5%;
    }
    #presentation {
        border: 1px solid $vert-clair;
        border-radius: 0 15% 15% 15%;
        box-shadow: 0px 1px 5px $vert-clair;
        background-color: $vert-clair;
        color: $bleu-sombre;
        padding: 5% 0 0 0;
        margin: 0 0 2% 0;
        .quote {
            border: 1px solid white;
            padding: 1%;
            display: block;
            font-style: italic;
        }
    }
    #training {
        border: 1px solid $bleu-clair;
        border-radius: 0 10% 80% 15%;
        box-shadow: 0px 1px 5px $bleu-clair;
        background-color: $bleu-clair;
        color: $bleu-sombre;
        padding: 5% 0 0 0;
        margin: 0 0 2% 0;
    }
    #skills h1{
        color: $vert-clair;
    }
    #experiences {
        margin: 5% 0 10% 0;
        border-radius: 100%;
        background-color: $vert-sombre;
        box-shadow: 2px 0px 5px $vert-sombre;
        text-align: center;
        padding: 2% 0 5% 0 ;
        
        p {
            margin: 0;
        }
    }
    #hobbies {
        background-color: $couleur-fond-hobbies;
        box-shadow: 2px 0px 5px $couleur-fond-hobbies;
        color: $bleu-sombre;
        padding-bottom: 2%;
        img {
            padding: 3%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    #contact {
        border: 2px solid $couleur-menu;
        margin: 2% 25% 0 25%;
        h1 {
            color: $couleur-menu;
        }
        form button {
            display: block;
                padding: 5%;
                margin: auto;
                border: 1px solid $vert-sombre;
                border-radius: 100rem;
                background: transparent;
                font-size: 20px;
        }
        a img {
            display: block;
            margin: auto;
            padding: 2%;
        } 
    }
}