//Déclaration des couleurs 
$bleu-sombre:#061539;
$vert-sombre:#003133;
$bleu-clair:#7887AB;
$vert-clair:#67989A;
$couleur-fond: #F3F6F4;
$couleur-menu: #003133;
$couleur-fond-hobbies: #417E80;


$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);