*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background-color: $couleur-fond;
    background-image: url(../../img/background_1.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    color: $bleu-clair;
} 